@charset "utf-8";

	
.window {
	border:6px #ccc outset;
	width:680px;
	height:442px;
	background-color:#000;
	position:absolute;
	top:40px;
	left:68px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -221px;
    margin-left: -340px;
}
	
	.title {
		background-color:#08246B;
		padding:2px;
	}
	.title> span{
		color:#fff
	}
	#text {
		background-color:#000;
		border-top:#ccc outset 2px;
		height:420px;
		overflow-y:scroll;}
	
	ul {
		margin:0px !important;
		padding:0px !important;
        list-style:none;
        color:#fff !important;
    }
	
	input {
		background-color:#000;
		border:0;
		color:#fff !important;
		outline:none;
		/*font-size:12px;*/
        width:100%
    }
		